body {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgb(100, 100, 102) 0%, rgb(86, 88, 88) 60%, rgb(60, 64, 65) 100%); 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
/* wieso exestiert diese datei:noch ungelößt */
