body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--accent-color);
  
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
/* wieso exestiert diese datei:noch ungelößt */
